body {
  text-shadow: 4px  black; 
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #094D9F;
  font-family: 'Playfair Display', serif;  
  background-image: url("http://i.imgur.com/NBp0DJ5.jpg");
  background-size: cover;
}
